<!doctype html>
  <html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  </head>
  <script type=text/javascript>
    $(document).ready(function(){
      $('#calculate').click(function(e){
        e.preventDefault();
        $.ajax({type: "GET",
                url:'/filegenerate',
                data: {inputTicker : $(#'inputTicker').val()}
                success:function(result){

                }});
      });
    });
  </script>


  <div class="jumbotron">
        <h1>Welcome to the Option-Chain Scraper</h1>
        <form action="/filegenerate" method="get" enctype="multipart/form-data">
                    Ticker:<br>
                    <input type="text" name="inputTicker" hint = "Ticker Name" /><br>
                    <input type="Submit" />
        </form>
      </div>
  </html>
