<!doctype html>
  <html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  </head>



  <div class="jumbotron">
        <h1>Welcome to the Option-Chain Scraper</h1>
        <form action="/filegenerate" method="get" enctype="multipart/form-data">
                    Ticker:<br>
                    <input type="text" name="inputTicker" id = 'inputTicker' hint = "Ticker Name" /><br>

                    </br>
                    <h5>Expiration Dates</h5>
                    <select name = "option_expiration" id = 'expiration_dates' form = "expiration_dates">
                    </select>
                    <input type="Submit"/>

        </form>

      </div>
  </html>
  <script type=text/javascript>
    var typingTimer;
    var doneTypingInterval = 1000;
    $('#inputTicker').keyup(function(){
      clearTimeout(typingTimer);
      if ($('#inputTicker').val) {
        typingTimer = setTimeout(doneTyping, doneTypingInterval);
      }
    });



    function doneTyping(){
      var $select = $('#expiration_dates');
      $.ajax({
        url: '/generate_dates',
        data: {
          'inputTicker' : $("#inputTicker").val()
        },
        type: "GET",
        success: function(response){
          $.each(response, function(key, value){
            $select.append('<option value =' + value + '>' + key + '</option>');

          })
        }
      })
    }
  </script>
